body.bg-light {
    background-color: #F7FAFC;
}

.font-weight-bold {
    font-weight: 700;
}

.display-4 {
    font-size: 1.5rem;
    font-weight: 700;
}

.text-primary {
    color: #3182CE;
}

.btn-primary {
    background-color: #3182CE;
}

.btn-danger {
    background-color: #E53E3E;
}

.shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.container {
    max-width: 60rem; 
}

